<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Amkor_VehicleBooking_System_2026/Frontend/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Amkor_VehicleBooking_System_2026/Frontend/index.html [L]
</IfModule>